<% provide(:title, 'New week') %>
<h1>New Week</h1>
<div class="calnedar" data-role="calendar"></div>
    <%= form_for(@week) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, size: "20" %>

      <%= f.label :startDate %>
      <%= f.text_field :startDate, size: "20" %>

      <%= f.label :endDate %>
      <%= f.text_field :endDate, size: "20" %>
      

      <%= f.label :status %>
      <%= f.text_field :status, size: "20" %>
      
      <%= f.submit "Create new Week" %>
    <% end %>
