<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, size: "20" %>

      <%= f.label :email %>
      <%= f.text_field :email, size: "20" %>

      <%= f.label :password %>
      <%= f.password_field :password, size: "20" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, size: "20" %>
      <%= f.submit "Create my account" %>
    <% end %>
