<% provide(:title, @user.name) %>

<% content_for :sidebar do %>
<li>
	<%= link_to edit_user_path(params[:id]) do %> <i class="icon-wrench"></i> Edit user details
	<% end %>
</li>
<% end %>
<div>
	<h1> <%= @user.name %> </h1>

	<%= @user.email %>
	<% if @user.admin?  %>
	<p>
		Admin
	</p>

	<% else  %>
	<p>
		User
	</p>
	<% end %>

</div>

<% if @user.weeks.count > 0 %>
<div class="carousel" style="height: 500px;" data-role="carousel"  data-param-direction="left" data-param-period="9999999999999" data-param-markers="on" >
	<div class="slides">
		<% @user.weeks.each do |week| %>
		<div class="slide image" >
			<div class="grid">
                             <div class="row">
				<div class="span1">
					<p>
					        	side1
					</p>
				</div>
				<div class="span10">
					<div class="tile bg-color-orange"></div>
					<%= week.name  %>
					<%= week.status  %>
				</div>
				<div class="span5">
					<div class="tile bg-color-orange"></div>
					<%= week.name  %>
					<%= week.status  %>
					<p>
						side2 is here on the right and more right and more right
					</p>
				</div>
			      </div>
			</div>
		</div>

		<%end%>

	</div>
	<span class="control left">&#8249;</span>
	<span class="control right">&#8250;</span>
</div>

<% else %>
<div>
	<h3>This user does not have any weeks. Really?? Not possible!! </h3>
</div>
<% end %>

